html{
    scroll-behavior: smooth;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1 1 auto;
}
body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #787A80;
    line-height: 150%;
}
.container {
    max-width: 1250px;
    padding:0 10px;
    margin: 0 auto;
}
.button{
    padding: 0;
    border: none;
    border-color: transparent;
 }
a {
    color: inherit;
    text-decoration: none;
}
ul {
 list-style: none;
}

.custom-checkbox-label {
    line-height: 1.5;
    position: relative;
    padding-left: 28px; /* Регулируйте отступ, чтобы изображение было видно */
    cursor: pointer;
    display: inline-block;
}

.real-checkbox {
    opacity: 0; /* Set opacity to 0 instead of positioning off-screen */
    position: absolute;
    top: 0;
    left: 0;
}

.custom-checkbox {
    position: absolute;
    top: 2px;
    left: 1px;
    width: 16px; /* Ширина изображения */
    height: 16px; /* Высота изображения */
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/other/unchecked.svg');
}

.real-checkbox:checked + .custom-checkbox {
    background-image: url('../img/other/checked-active.svg');
}



                    /*header*/ 
.header{
    background: url(../img/other/background.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}    
.header__body {
    display: flex;
    padding: 20px;
}
.header__body-left {
    padding-top: 14px;
    flex: 1;
}
.header__body-left__navigation {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: space-between;
}
.menu__btn{
    display: none;
}

.header__menu-list {
    color: #424551;
    display: flex;
    gap: 40px;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.3px;
    transition: 0.4s ease;
    z-index: 1;
}
/*
*/
.menu__list-link {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.menu__list-link-2 {
    display: flex;
    align-items: center;
}

.menu__list-link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 3px; /* Высота линии */
    background-color: #FF5A30; /* Цвет подчеркивания при появлении линии*/
    transition: width 1.2s;  /* Время эффекта */
}
.menu__list-link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -8px;
    width: 0;
    height: 3px; /* Высота линии */
    background-color: #424551; /* Цвет подчеркивания при исчезании линии*/
    transition: width 1s; /* Время эффекта */
}

.logo_img{
    height: 45px;
    width: auto;
}












.header__body-right {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}


.header_right-icon {
    margin-right: 10px;
}
.ul__right-text {
    display: flex;
    flex-direction: column;
}
.text-top {
    color: #1E212C;
}
.text-bottom {
    padding-top: 5px;
    font-weight: 400;
    color: #1E212C;
}

.header__bottom-title {
    padding-top: 74px;
    font-size: 74px;
    font-weight: 700;
    color: #1E212C;
    padding-bottom: 15px;
}
.header__bottom-subtitle {
    font-size: 20px;
    max-width: 610px;
    line-height: 1.5;
    padding-bottom: 180px;
}

.header__bottom-main-about {
    padding-top: 80px;
    font-size: 15px;
}
.header__bottom-main-about__span {
    color: #424551;
    line-height: 1.5; 
}
.header__bottom-main-about__link {
    color: #9A9CA5;
    line-height: 1.5; 
}


























/*section buttons*/ 
.list__buttons{
    position: relative;
}
.list__buttons-container{
    position: relative;
    height: 1px;
    width: 100%;
}

.list__buttons-inner {
    max-width: 1230px;
    
    margin-right: 10px;
    position: absolute;
    top: -70px; 
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #fff;
    
}
.list__buttons-inner__one {
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: 
    0px 4px 4px -4px rgba(30, 33, 44, 0.03), 
    8px 0px 12px -6px rgba(154, 156, 165, 0.1), 
    0px 30px 24px -10px rgba(154, 156, 165, 0.05), 
    0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 0px 10px rgba(0, 0, 0, 0.1); /* New shadow layer */

    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease; /* Add border to the transition */
}
.list__buttons-inner__one:hover {
    box-shadow: 0px 8px 8px -8px rgba(30, 30, 41); 
    transform: scale(1.08);
}
/*.list__buttons-inner__one:not(:first-child):hover {
    transform: scale(1.08);
}*/




.list__buttons-inner__icon {
    height: 72px;
    width: 55px;
    padding-bottom: 18px;
}

.list__buttons-inner__text {
    text-align: center;
    display: inline-block;
    font-weight: 700;
    color: #9A9CA5;
    line-height: 1.2;
    font-size: 16px;
}
.button-add_style{
    background-color: #FF5A30;
}
.button-add_style-text{
    color: #fff;
}






.services-card__detail {
    display: flex;
    justify-content: center;
}

.services-card__bottom{
    padding-top: 20px;
    
}
.bottom-card{
    padding-top: 0;
}
.services-card__detail-title {
    color: #FF5A30;
    text-align: center;
    border-radius: 4px;
    padding: 10px 28px;
    font-weight: 700;
    border: 1.5px solid #FF5A30;
    text-transform: uppercase;
}
.services-card__detail-title:hover{
    color: #fff;
    transition: translate 2s;
    background: #FF5A30;
}

/*SERVICES*/



.services {
    padding-top: 220px;
}

.services-wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    align-items: center;
}

.services-card {
    cursor: pointer;
    position: relative;
    width: 390px; 
    height: 486px;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: transform  2s cubic-bezier(0.52, 0.39, 0.43, 1.43);
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.services-card__img{
    filter: brightness(1);
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.services-card__bottom-title {
    padding-bottom: 4px;
    font-size: 24px;
    color: #1E212C;
    font-weight: 700;
    padding-top: 16px;
    line-height: 1.5;
    text-align: center;
}
.services-card__bottom-subtitle {
    color:  #FF5A30;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 19px;
}
.subt123{
    color:  #787A80;
    font-size: 14px;
    font-weight: 400;
}
.services-card:hover {
    transform: rotateY(180deg);
}
.services-card__front,
.services-card-front__for123,
.services-card__back {
    /* важно, чтобы обе стороны имели одинаковую ширину и высоту */
    width: 100%;
    height: 100%;
    /* следующие две строки необходимы для анимации */
    backface-visibility: hidden;
    position: absolute;
}

.services-card__front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 100%; /* Ensure the container takes the full height */
    padding-bottom: 50px;
}

.services-card-front__for123{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 15px;
}



.services-card__back {
    transform: rotateY(180deg);
    background-color: #f4f5f7;
    box-shadow: 17px -7px 20px 6px rgba(30, 30, 30, 0.1);
}
.services-card__back-container{
    width: 100%;
    height: 100%;
    padding: 20px 45px;
    position: relative;
}
.services-card__back-container::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #FF5A30;
    left: 55px; 
    right: 55px; 
    bottom: 60px;
    width: calc(100% - 110px); /* Adjust the width to account for left and right padding */
}
.services-card__back-container h1{
    font-size: 30px;
    color: #1E212C;
    font-weight: 700;
    padding-top: 16px;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 46px;
}
.services-card__back-ul{
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
.services-card__back-list{
    padding: 13px 35px;
    font-size: 15px;
}
.services-card__back-list::before{
    position: absolute;
    background-image: url(../img/other/galochka.svg);
    content: '';
    width: 20px;
    height: 20px;
    left: 0; 
}



/*LOAD MORE*/
.load-more__container{
    cursor: pointer;
}
.load-more__container-inner{
    align-items: center;
    display: flex;
    gap: 16px;
   justify-content: center;
   padding-top: 60px;
   padding-bottom: 60px;
}
.load-more__container-inner p{
    color:#424551;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
    letter-spacing: 0.5px;

}







.description__TOS {
    padding-top: 120px;
    background-image: url(../img/other/Background.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.description__TOS-block-img {
    width: 565px;
    height: 410px;
    object-fit: cover;
    cursor: pointer;
    
}
.description__TOS-block-img:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.05);

}


.description__TOS-block-text{
    text-align: justify;
    padding-left: 90px;
} 
.padding-left {
    padding-left: 0;
    padding-right: 90px;
}

.description__TOS-block {
    display: flex;
    padding-bottom: 220px;
    align-items: center;
}
.description__TOS-block-text__title {
    color: #1E212C;
    text-indent: 25px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5; 
}
.description__TOS-block-text__subtitle {
    padding-bottom: 24px;
    text-indent: 25px;
    padding-top: 5px;
    color:  #787A80;
    font-size: 16px;
    line-height: 1.6; 
}


.contact-form {
    background: url(../img/other/contact-bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: cover;
}
.contact-form__container {
    display: flex;
    justify-content: flex-end;
    padding: 50px 0;   
}
.contact-form__inner {
    border-radius: 4px;
    border: 1px solid #E5E8ED;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 26px 24px -10px rgba(30, 33, 44, 0.10), 0px 60px 80px -20px rgba(30, 33, 44, 0.16);
    padding: 50px 40px;
    background: #fff;
}
.contact-form__inner-title {
    color:#1E212C;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    line-height: 1.5; 
}
.contact-form__inner__main {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.contact-name{
    padding-top: 24px;
}
.contact-form__inner__name-title {
    color:#424551;
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 8px;
}
.input-field{
    width: 100%; /* Ширина полей ввода */
    padding: 11px 0 12px 16px; /* Внутренний отступ в полях ввода */
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid  #D7DADD;
    background:  #F4F5F6;
    color: #9A9CA5;
    line-height: 1.5;
    resize: none;
}
.contact-form__inner__name-window {
}
.contact-heart{
    background-image: url(../img/other/Heart.svg);
    height: 16px;
    width: 16px;
    margin-bottom: 3px;
    margin-left: -56px;
}

.contact-form__inner-text{
    color:  #424551;
    font-size: 14px;
    line-height: 1.5; 
}

.contact-form__inner-text::before{
    content: url(../img/other/checked.svg);
    height: auto;
    margin-right: 10px;
}
.contact-form__inner__button-container{
    justify-content: center;
    display: flex;
    padding: 24px 0  0 0;
}
.submit-button{
    padding:  15px 32px;
    border-radius: 4px;
    background:  #FF5A30;
    color:  #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: uppercase;    
}
.submit-button:hover{
background: #FC3300;
transition: 0.3s ease-in-out;
}
/*FOOTER*/
.footer {
    background:#1E212C;
}
.footer__inner {
    padding: 80px 20px 80px 20px;
}


.footer__inner-detail__container {
    display: flex;
    padding-bottom: 60px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.footer__inner-detail__left {
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__inner-detail-h {
    padding-bottom: 15px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5; 
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer__inner-detail__text {
    padding-bottom: 10px;
}
.head-oficce_span {
    color: #FFF;
    opacity: 0.7;
}
 

.footer__inner-detail__right,
.footer__inner-detail__center {
    flex: 1;
    align-items: flex-start;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    position: relative;
    padding-bottom: 35px;
    height: 100px;
    width: auto;
    left: -18px;
    
}
.footer__inner-text-logo{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 40px;
    color:  #FFF;
    opacity: 0.6;
    line-height: 1.5;
    text-align: justify; 
    
}

.footer__inner__reserve {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__inner__reserve-block {
    display: flex;
}
.footer__inner__reserve-text,
.footer__inner__reserve-button-top__text {
    color:  #FFF;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    opacity: 0.6;
    line-height: 1.5; 
}
.footer__inner__reserve-button-top {
    gap: 16px;
    align-items: flex-end;
    display: flex;
}

.footer__inner__reserve-button-top-arrow {
    background: #FF5A30;
    padding: 8px;
}
.footer__inner__reserve-button-top__arrow-icon{
    cursor: pointer;
}
/*index-about*/
.header-about{
    background: url(../img/other/about-us-title.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}
.about__inner {
    display: flex;
    padding: 150px 0;
    justify-content: space-between;
}
.about__inner-block {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    
}
.about__inner-block__img {
    text-align: center;
}
.about__inner-block__text {
    padding: 30px 0px 10px 0px;
    color:  #FF5A30;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.3; 
}
.about__inner-block__subtext {
    color:  #1E212C;
    text-align: center;
    line-height: 1.5; /* 21px */
}
.description-company__inner-text li::before {
    content: "\2022";
    
    font-weight: bold;
    color: #FF5A30;
    margin-right: 1em;
}
/*description*/
.description-company__inner {
    text-indent: 35px;
    color: #1E212C;
    opacity: 0.6;
    line-height: 1.8; 
    font-size: 18px;
    max-width: 1240px;
}
.description-company__inner {
    text-align: justify;
    display: inline-block;
    list-style: none;
    position: relative;
    border: 2px solid #424551;
    transition: all .3s ease;
    margin: 90px 10px 30px 10px;
}
.description-company__inner:before, 
.description-company__inner:after {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    background: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
}
.description-company__inner:before {
    width: calc(100% + 6px);
    height: 80%;
    transition: height 0.6s;
}
.description-company__inner:after {
    height: calc(100% + 5px);
    width: 90%;
    transition: width 0.9s;
}
.description-company__inner:hover:before, 
.description-company__inner:focus:before {
    height: 50%;
    
}
.description-company__inner:hover:after, 
.description-company__inner:focus:after {
    width: 75%;
}
.description-company__inner-text {
    
    padding: 30px;
    z-index: 2;
    position: relative;
    
}




/*review*/
.review {
    background:  #F4F5F6;
    padding: 69px 0;
}

.review__block {
    display: flex;
   
}
.review__block-swiper {
    width: 50%; /* Займати 50% ширини контейнера */
    
}
.review__block-swiper__title {
    padding-bottom: 60px;
    color:  #1E212C;    
    font-size: 46px;
    font-weight: 700;
    line-height: 1.3; 
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide p{
    max-width: 600px;
    color:  #424551;
    font-size: 16px;
    line-height: 1.6;
    padding-top: 25px;
}
.swiper-slide__p-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}
.swiper-slide__p-block-p {
    color:  #1E212C;
    
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6; /* 25.6px */
}
.review__block-img  {
    padding-left: 20px;
    background-image: url(../img/services/3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 50%; /* Займати 50% ширини контейнера */
    
}
   
.swiper-slide_icon{
    width: 70px; 
    height: 70px; 
    border-radius: 50%;
    overflow: hidden;
}

.swiper-arrow-inner {
    display: flex;
    gap: 20px;
    padding: 0 25px 0 0;
    justify-content: space-between;
}
/* Убираем стандартные стили стрелок прокрутки Swiper */
.swiper-button-prev,
.swiper-button-next {
    width: auto;
    height: auto;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    transition: none;
}
.swiper-button-left{
    background-image: url(../img/other/arrow-left.svg);
    height: 26px;
    width: 26px;
}
.swiper-button-right{
    background-image: url(../img/other/arrow-right.svg);
    height: 26px;
    width: 26px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '';
}
.swiper-button-next:after, .swiper-rtl .swiper-button-next:after {
    content: '';
}



                        /*Замовити дзвінок*/
/* Стили для кнопки */
.callback-bt {
    display: none;
    background: #FF5A30;
    border: 2px solid #FF5A30;
    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(255, 90, 48, 0.3);
    cursor: pointer;
    height: 60px;
    text-align: center;
    width: 60px;
    position: fixed;
    right: 8%;
    bottom: 15%;
    z-index: 999;
    transition: 0.3s;
    animation: hoverWave linear 1s infinite;
  }
  
  /* Показываем кнопку, когда достигнут блок с id="services" + 100px */
  #services .callback-bt.show {
    display: block;
  }
  
  /* Стили для текста внутри кнопки */
  .callback-bt .text-call {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  
  .callback-bt .text-call span {
    text-align: center;
    color: #FF5A30;
    opacity: 0;
    font-size: 0;
    position: absolute;
    right: 4px;
    top: 22px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity 0.3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
  }
  
  .callback-bt .text-call:hover span {
    opacity: 1;
    font-size: 10px;
  }
  
  /* Стили для иконки внутри кнопки */
  .callback-bt i {
    color: #fff;
    font-size: 25px;
    transition: 0.3s;
    line-height: 62px;
  }
  
  /* Стили для анимации при наведении на кнопку */
  .callback-bt:hover i {
    display: none;
    animation: shake 0.5s ease-in-out;
  }
  
  .callback-bt:hover {
    z-index: 1;
    background: #fff;
    color: transparent;
    transition: 0.3s;
  }
  
  .callback-bt:hover i {
    color: #38a3fd;
    font-size: 40px;
    transition: 0.3s;
  }
  
  /* Анимация при наведении на кнопку */
  @keyframes hoverWave {
    0% {
      box-shadow: 0 8px 10px rgba(255, 90, 48, 0.3), 0 0 0 0 rgba(255, 90, 48, 0.2), 0 0 0 0 rgba(255, 90, 48, 0.2);
      filter: hue-rotate(0deg);
    }
    40% {
      box-shadow: 0 8px 10px rgba(255, 90, 48, 0.3), 0 0 0 15px rgba(255, 90, 48, 0.2), 0 0 0 0 rgba(255, 90, 48, 0.2);
      filter: hue-rotate(20deg);
    }
    80% {
      box-shadow: 0 8px 10px rgba(255, 90, 48, 0.3), 0 0 0 30px rgba(255, 90, 48, 0), 0 0 0 26.7px rgba(255, 90, 48, 0.067);
      filter: hue-rotate(0deg);
    }
    100% {
      box-shadow: 0 8px 10px rgba(255, 90, 48, 0.3), 0 0 0 30px rgba(255, 90, 48, 0), 0 0 0 40px rgba(255, 90, 48, 0.0);
      filter: hue-rotate(0deg);
    }
  }
  
  /* Показываем кнопку при ширине экрана менее 500px */
  @media screen and (max-width: 499px) {
    .callback-bt {
      display: block;
    }
  }
  
  /* Скрываем кнопку при ширине экрана 500px и более */
  @media screen and (min-width: 500px) {
    .callback-bt {
      display: none;
    }
  }



/*--------------------------------------------ADAPTIVE ------------------------------------------ADAPTIVE*/
/*--------------------------------------------ADAPTIVE ------------------------------------------ADAPTIVE*/




/*ADAPTIVE.HEADER MAIN*/

/* Common styles for all screen sizes */
.header {
    background-position: 70% 40%;
}

.header__bottom-title {
    font-size: 72px;
}

.header__bottom-subtitle {
    font-size: 18px;
    max-width: 580px;
}

.header__bottom-subtitle,
.header__bottom-main-about,
.header__bottom-title {
    padding-left: 10px;
}

/* Styles for screen size up to 1150px */
@media (max-width: 1150px) {
    .right-email {
        display: none;
    }
}

/* Styles for screen size up to 900px */
@media (max-width: 900px) {
    .menu__btn {
        z-index: 11;
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 0;
        overflow: none;
    }

    .menu__btn span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #000;
        left: 0;
        transition: background-color .5s, opacity .25s, transform .4s;
        will-change: transform;
    }

    .menu__btn span:nth-child(1) {
        transform: translateY(-10px);
    }
    .menu__btn span:nth-child(3) {
        transform: translateY(10px);
    }

    .header.open .menu__btn span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }
    .header.open .menu__btn span:nth-child(2) {
        opacity: 0;
    }
    .header.open .menu__btn span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }


    .header__menu-list-item-left:nth-child(2),
    .header__menu-list-item-left:nth-child(4) {
        border: 2px solid black;
        border-left: none;
        border-right: none;
    }

    .header__menu-list-item-right {
        display: none;
    }

    .menu__list-link {
        display: block;
        padding: 25px 0;
        font-size: 20px;
        text-transform: uppercase;
        color: #1E212C;
        cursor: pointer;
    }

    .header__body-left {
        padding-top: 0;
        flex: 1;
    }

    .header__body-right {
        display: flex;
        flex: 0 1 auto;
        justify-content: space-between;
    }

    .menu-list__nav {
        z-index: 10;
        height: 100vh;
        display: block;
        position: absolute;
        left: 0;
        background-color: #D7DADD;
        right: 0;
        top: 0px;
        text-align: center;
        padding: 20px 0;
        transform: translateX(-1000px);
        transition: all 0.5s ease-in-out;
    }

    .header.open .menu-list__nav {
        transform: translateX(0);
    }

    .header__bottom-title {
        font-size: 68px;
    }

    .header__bottom-subtitle {
        font-size: 17px;
        max-width: 550px;
    }
}





@media  (max-width: 835px){
    .header__bottom-title{
        font-size: 63px;
    }
    .header__bottom-subtitle{
        font-size: 16px;
        max-width: 500px;
    }
}
@media  (max-width: 768px){
    .header__bottom-title{
        font-size: 59px;
    }
    .header__bottom-subtitle{
        font-size: 15px;
        max-width: 480px;
    }
    .header__bottom-main-about{
        font-size: 14px;
    }
}

@media  (max-width: 718px){
    .header__bottom-title{
        font-size: 55px;
    }
    .header__bottom-subtitle{
        font-size: 14px;
        max-width: 460px;
    }
}
@media  (max-width: 690px){
    .header {
        background-position: 65% 40%;
    }
    .header__bottom-title{
        font-size: 54px;
    }
    .header__bottom-subtitle{
        font-size: 13px;
        max-width: 420px;
    }
}
@media  (max-width: 610px){
    .header__bottom-main-about{
        font-size: 13px;
        padding-top: 50px;
    }
    .header__bottom-title{
        font-size: 50px;
    }
    .header__bottom-subtitle{
        font-size: 12px;
        max-width: 360px;
    }
    .logo_img{
        height: 40px;
        width: auto;
    }
    .footer-logo{
        height: 95px;
        margin: 0 auto;
        width: auto;
        left: -2px;
    }
}
@media  (max-width: 538px){
    .header__bottom-title{
        font-size: 44px;
    }
    .header__bottom-subtitle{
        font-size: 10px;
        max-width: 310px;
    }
}
@media  (max-width: 514px){
    .header__bottom-title{
        font-size: 46px;
    }
    .header__bottom-subtitle{
        font-size: 12px;
        padding-bottom: 160px;
        max-width: 280px;
    }
    .header__body{
        padding: 25px 20px 20px 10px;
    }
    .header__bottom-subtitle,
    .header__bottom-main-about,
    .header__bottom-title{
        padding-left: 0px;
    }
    .header__bottom-main-about{
        font-size: 11px;
    }
}

@media  (max-width: 466px){
    .header__bottom-title{
        font-size: 43px;
    }
    .header__bottom-subtitle{
        font-size: 11px;
        max-width: 295px;
    }
    .header__bottom-main-about{
        font-size: 11px;
    }
}
@media  (max-width: 440px){
    .header {
        background-position: 63% 10%;
    }
    .header__bottom-title{
        font-size: 43px;
    }
    .header__bottom-subtitle{
        font-size: 11px;
        max-width: 290px;
    }
    
    .header__bottom-main-about{
        font-size: 10px;
    }
}
@media  (max-width: 426px){
    .header {
        background-position: 64% 10%;
    }
    .header__bottom .container{
         padding: 0 5px;
    } 
    .header__bottom-title{
        font-size: 42px;
    }
    .header__bottom-subtitle{
        font-size: 11px;
        max-width: 249px;
        padding-bottom: 200px;
    }
    
    .header__bottom-main-about{
        font-size: 10px;
    }
}
@media  (max-width: 395px){
    .header__bottom-title{
        font-size: 42px;
        padding-top: 68px;
    }
    .header__bottom-subtitle{
        font-size: 10px;
        max-width: 290px;
    }
    
    .header__bottom-main-about{
        font-size: 10px;
    }
}


/*ADAPTIVE LIST-BUTTONS*/


@media  (max-width: 1500px){
    .list__buttons-inner__one {
       padding: 24px 50px;
    }
    .list__buttons-inner{
        width: 100%;
    }
}

@media  (max-width: 1230px){
    .list__buttons-inner {
        top: -60px; 
        flex-wrap: wrap;  /* Enable wrapping */
        justify-content: space-evenly;
        padding: 0 90px;
        left: 10px;
        right: 0;
        background-color: transparent;
    }
    
    .list__buttons-inner__one {
        background-color: #fff;
        flex-basis: calc(33.333% - 40px);  /* Distribute into three columns with gap */
        box-sizing: border-box;  /* Include padding and border in the width calculation */
        margin-bottom: 10px;  /* Add margin to create space between rows */
        padding: 29px 40px;
    }
    .list__buttons-inner__one:nth-child(1){
        background-color: #FF5A30;
    }
    .list__buttons-inner__text {
        font-size: 15px;
    } 
}
@media  (max-width: 845px){
    .list__buttons-inner {
        padding: 0;
        margin-left:-10px ;
    }
    .list__buttons-inner__one {
    
        flex-basis: calc(33.333% - 20px);  /* Distribute into three columns with gap */
        box-sizing: border-box;  /* Include padding and border in the width calculation */
        margin-bottom: 10px;  /* Add margin to create space between rows */
        padding: 26px 38px;
    }
    .list__buttons-inner__text {
        font-size: 14px;
    } 

    .list__buttons-inner__icon {
        height: 65px;
        width: 50px;
        padding-bottom: 16px;
    }
}
@media  (max-width: 769px){
    
    .list__buttons-inner__icon {
        height: 65px;
        width: 50px;
        padding-bottom: 16px;
    }
    .list__buttons-inner {
        top: -5px;
    }
}
@media  (max-width: 730px){
    .list__buttons-inner__text {
        font-size: 14px;
    } 
    .list__buttons-inner__one {
        flex-basis: calc(33.333% - 15px);  /* Distribute into three columns with gap */
        margin-bottom: 8px;  /* Add margin to create space between rows */
        padding: 24px 33px;
    }
    .list__buttons-inner__icon {
            height: 59px;
            width: 45px;
            padding-bottom: 15px;
        }
}
@media  (max-width: 635px){
    .list__buttons-inner__text {
        font-size: 13px;
    } 
    .list__buttons-inner__one {
        flex-basis: calc(33.333% - 14px);  /* Distribute into three columns with gap */
        margin-bottom: 7px;  /* Add margin to create space between rows */
        padding: 21px 30px;
    }
    .list__buttons-inner__icon {
            height: 53px;
            width: 40px;
            padding-bottom: 14px;
        }
}
@media  (max-width: 545px){
    .list__buttons-inner__text {
        font-size: 12px;
    } 
    .list__buttons-inner__one {
        flex-basis: calc(33.333% - 18px);  /* Distribute into three columns with gap */
        margin-bottom: 7px;  /* Add margin to create space between rows */
        padding: 18px 27px;
    }
    .list__buttons-inner__icon {
            height: 48px;
            width: 36px;
            padding-bottom: 12px;
        }
}
@media  (max-width: 450px){
    .list__buttons-inner__text {
        font-size: 12px;
    } 
    .list__buttons-inner__one {
        margin-bottom: 5px; 
        box-shadow: 
        0px 4px 4px -4px rgba(30, 33, 44, 0.03), 
        8px 0px 12px -6px rgba(154, 156, 165, 0.1), 
        0px 30px 24px -10px rgba(154, 156, 165, 0.05), 
        0px 80px 80px -20px rgba(154, 156, 165, 0.08),
        0px 0px 10px rgba(0, 0, 0, 0.3);  
    }
    .list__buttons-inner__icon {
        height: 43px;
        width: 32px;
        padding-bottom: 11px;
    }
    
}
@media(max-width:425px){
    .list__buttons-inner {
        top: -20px;
    } 
    .list__buttons-inner__text {
        font-size: 12px;
    } 
}

@media(max-width:425px){
    .list__buttons-inner__one {
        padding: 20px 17px;
        margin-bottom: 5px;  /* Add margin to create space between rows */
    }
}
@media(max-width:395px){
    .list__buttons-inner__one {
        padding: 25px 17px;
        margin-bottom: 5px;  /* Add margin to create space between rows */
    }
}


/*ADAPTIVE-SERVICES*/


@media(max-width:1250px){
    .services {
        background-image: url(../img/other/Background.png);
        background-size: contain;
        background-position: 10% 70%;
        padding-top: 350px;
    }
    .services-wrap {
        justify-content: center;
        column-gap: 35px;
    }
}
@media(max-width:860px){
    .list__buttons-inner {
        top: -50px;
    }
    .services-card__link img {
        width: 354px;
        height: 313px;
    }
    .services-card__bottom-title{
        font-size: 19px;
    }
    .services-card__bottom-subtitle{
        font-size: 13px;
        padding-bottom: 17px
    }
    .services-card__detail-title {
        padding: 9px 25px;   
    }
    .services-card {
        width: 354px; 
        height: 450px;
    }
    .services-wrap {
        column-gap: 25px;
    }
    .services-card__bottom{
        padding-top: 18px;
    }
    .bottom-card{
        padding-top: 0;
    }
    .services-card__back-container h1{
        font-size: 27px;
        padding-bottom: 40px;
    }
    .services-card__back-list{
        font-size: 13px;
    }
}
@media(max-width:752px){
    .services-card__detail-title {
        padding: 8px 22px;   
    }
    .services-card__link img {
        width: 390px;
        height: 350px;
    }
    .services-card__bottom-title{
        font-size: 20px;
    }
    .services-card__bottom-subtitle{
        font-size: 14px;
        padding-bottom: 12px;
    }
    .services-card {

        width: 390px; 
        height: 482px;
    }
    .services-wrap {
        row-gap: 30px;
    }
    .services-card__detail-title {
        padding: 8px 22px;   
    }
    .bottom-card{
        padding-top: 0;
    }
    .services-card__back-container h1{
        font-size: 29px;
        padding-bottom: 48px;
    }
    .services-card__back-list{
        font-size: 14px;
    }
}
@media(max-width:612px){
    
    .services-card__link img {
        width: 354px;
        height: 313px;
    }
    .services-card {
        width: 354px;
        height: 440px;
    }
    .services-card__detail-title {
        padding: 6px 18px;  
        font-size: 13px 
    }
    .bottom-card{
        padding-top: 0;
    }
    .services-card__back-container h1{
        font-size: 28px;
        padding-bottom: 40px;
    }
    .services-card__back-list{
        font-size: 13px;
    }
    
}

@media(max-width:544px){
    
    .services-card__link img {
        width: 297px;
        height: 258px;
    }
    .services {
        padding-top: 260px;
    }
    .services-card {
        width: 297px;
        height: 380px;
    }
    .services-card__detail-title {
        padding: 5px 14px;
        font-size: 12px;   
    }
    .bottom-card{
        padding-top: 0;
    }
    .services-card__back-container h1{
        font-size: 24px;
        padding-bottom: 25px;
    }
    .services-card__back-list{
        font-size: 11px;
    }
    .services-card__back-list::before {
        content: '';
        height: 16px;
        background-size: contain;
        width: 16px;
    }
    .services-card__back-list {
        padding: 13px 15px 13px 30px; 
    }
    .services-card__back-container::after {
        bottom: 35px;
    }
}
@media(max-width:425px){
    .menu__btn span {
        width: 27.2px;
        height: 2.72px;
    }
    .menu__btn {
        width: 20px;
        height: 20px;
    }
    .services-card__detail-title {
        padding: 5px 14px;
        font-size: 11px;   
    }
    
}

/*ADAPTIVE-TOS*/

@media (max-width: 1251px){
    .description__TOS-block {
        flex-direction: column;  
        padding-bottom: 150px;   
        text-align: justify;
    }
    .description__TOS-block-text {
        padding: 10px 20px;         
    }
    .padding-left {
        padding-left: 10px;
        padding-right: 10px;
    }
    .description__TOS-block-text__subtitle {
        max-width: 1000px;
        padding-bottom: 24px;
        padding-top: 15px;
        text-indent: 0;        
        
    }
    .description__TOS-block-img {
        order: 1;              
    }
   .description__TOS-block-text__title {
    text-align: center;
    text-indent: 0px;
    }
}

@media (max-width: 605px){
    .description__TOS-block-text__title {
        font-size: 30px;   
    }
   .description__TOS-block-text__subtitle {
        font-size: 15px;   
    }
    .description__TOS-block-img {
        max-width: 100%; /* Гарантирует, что изображение не превышает ширину своего контейнера */
        height: auto;    /* Позволяет изображению сохранять пропорции при изменении ширины */
        display: block;  /* Убеждаете браузер, что это блочный элемент */
        margin: 0 auto; 
        padding: 0 10px; 
        
        
    }
}
@media (max-width: 489px){
    .description__TOS-block-text__title {
        font-size: 28px;   
    }
    .description__TOS-block-text__subtitle {
        font-size: 14px;   
    }
}     


/*ADAPTIVE-CONTACT*/

@media (max-width:1255px){
    
    .contact-form__inner {
        margin: 0 auto;
        max-width: 100%; /* Гарантирует, что изображение не превышает ширину своего контейнера */
        height: auto;    /* Позволяет изображению сохранять пропорции при изменении ширины */
        display: block;  /* Убеждаете браузер, что это блочный элемент */
    }

}
@media (max-width:492px){
    .contact-form__inner-title { 
        font-size: 27px; 
    }
    .contact-form__inner__name-title {
        font-size: 13px;
        padding-bottom: 7.5px;
    }
    .input-field{
        font-size: 13px;
    }
    .contact-form__inner-text  {
        font-size: 13px;
    }
    .contact-form__inner-text  span{
        display: none; 
    }
    .submit-button {
        padding: 13px 28px;
    }
    .contact-name {
        padding-top: 37px;
    }

}

/*ADAPTIVE-FOOTER*/

@media  (max-width: 1030px) {
    .footer__inner-detail__left {
        flex: 2;
    }
}

@media (max-width: 767px) {

    .footer__inner-detail__right, .footer__inner-detail__center {
        flex: initial;  
        flex-direction: column;
        display: flex;
        margin-right: 10px;
        
    }
    .footer__inner-detail__container {
        display: flex;
        padding-bottom: 60px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
    .footer__inner-detail__left{
        flex: initial;
    }
}

@media (max-width: 720px) {
    .footer__inner-detail__left {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .footer__inner-text-logo {
        font-size: 13px;
        line-height: 1.5;
    }
    .footer__inner-detail-h {
        font-size: 15px;
        line-height: 1.5;
        
    }
    
    .footer__inner-detail__text  a,
    .footer__inner-detail__text p{
        font-size: 13px;
        line-height: 1.5;
    }
    .footer__inner__reserve-button-top-arrow {
        background: #FF5A30;
        padding: 5px;
    }
    .footer__inner__reserve-button-top__text p,
    .footer__inner__reserve-text{
        font-size: 12px;
    }
    .contact-heart {
    margin-left: -50px;
    }
}









